# Python bytecode
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Migrations (if you ever decide to ignore them)
# ** Not recommended in most cases **
# */migrations/*.py
*/migrations/__pycache__/

# Coverage and testing
.coverage
.pytest_cache/
htmlcov/
.cache/

# VS Code settings
.vscode/

# OS junk
.DS_Store
Thumbs.db
